<div id="wrapper-container">
  <div id="container">

    <nav id="left-container">
      <h3 id="title-nav">Admin Dashboard</h3>

      <div id="dashboard-menu">
        <span>Dashboard Menu</span>
        <a routerLink="form">Insert Dialog</a>
        <a routerLink="list">List Data</a>
      </div>

    </nav>

    <div id="right-container">
      <nav id="right-nav" class="clearfix">
        <div id="right-nav-item">
          <a (click)="home()" style="cursor: pointer;">Home</a>
          <a>Menu</a>
        </div>
      </nav>

      <div id="main-container">
          <panel-component></panel-component>
          <div id="main-content">
            <router-outlet></router-outlet>
          </div>
      </div>
    </div>

  </div>

</div>
